

<a href="{{base_url('home')}}">Home</a>

{% if turma.nome != "" %}
    >> <a href="{{base_url('turmas/index/' ~ turma.chave)}}">{{turma.nome|e}}</a> 

    {% if tarefa.titulo != "" %}
        >> <a href="{{base_url('tarefas/index/' ~ tarefa.idtarefa)}}">{{tarefa.titulo|e}}</a> 

        {% if arquivo.idarquivo != "" %}
            >> <a href="{{base_url('alunoturma/verarquivo/' ~ tarefa.idtarefa ~ '/' ~ arquivo.idarquivo )}}">{{arquivo.nome|e}}</a>
        {% endif %}
    {% endif %}
{% endif %}