{% extends "template/dashboard.html" %}

{% block head %}
<script src="{{base_url()}}assets/professor.js"></script>
{% endblock %}

{% block title %}

{% include 'professores/breadcrumb.html' %}

{% endblock %}


{% block menu_lateral %}
{% endblock %}


{% block content %}

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content" id='turmas'>

    </div>
</main>

{% include './professores/cadTurma.html' %}

{% endblock %}