{% extends "template/dashboard.html" %}

{% block head %}
<script src="{{base_url()}}assets/professor.js"></script>
{% endblock %}

{% block title %}

{% include 'professores/breadcrumb.html' %}

{% endblock %}

{% block menu_lateral %}
<a class="waves-effect waves-light mdl-navigation__link modal-trigger" href="#cadTarefa"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Nova tarefa</a>
{% endblock %}

{% block content %}

{% include 'professores/cadTarefa.html' %}
<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content" id="tarefas">
        
    </div>
</main>
{% endblock %}