{% extends "template/login.html" %}



{% block content %}

<form id="formLogin" action="{{base_url('login/logar')}}" method="post" accept-charset="UTF-8">
    
    
  <div class="row">
    <form class="col s12">
    <div class="row">
        <div class="input-field col s12">
        <input id="email" name="email" type="email" class="validate">
        <label for="email">Email</label>
        </div>
    </div>

    <div class="row">
    
    <div class="input-field col s12">
        <input id="senha" name="senha" type="password" class="validate">
        <label for="senha">Senha</label>
    </div>

    </div>

    <div class="row">
        <div class="input-field col s12">
            <button class='mdl-color--blue-grey-600 btn-large'>Entrar</button>
            <a href="{{base_url('login/cadastrar')}}" class='mdl-color--blue-grey-600 btn-large'>Cadastre-se</a>
        </div>
    </div>
        
    </form>
  </div>
        

    {% if errorMessage is defined %}
        <p>{{ errorMessage }}</p>
    {% endif %}
</form>

<p><a href="{{ base_url('login/recuperar') }}">Esqueci minha senha</a></p>


{% endblock %}