{% extends "template/dashboard.html" %}


{% block title %}

{{turma.nome|e}}

{% endblock %}


{% block content %}

{% include 'cadTarefa.html' %}


<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        
        
        
    </div>
</main>

{% endblock %}