<a class="breadcrumb" href="{{base_url('home')}}">Home</a>

{% if turma.nome != "" %}
    <a class="breadcrumb" href="{{base_url('alunoturma/index/' ~ turma.chave)}}">{{turma.nome|e}}</a> 

    {% if tarefa.titulo != "" %}
        <a class="breadcrumb" href="{{base_url('alunoturma/tarefa/' ~ tarefa.idtarefa)}}">{{tarefa.titulo|e}}</a> 

        {% if arquivo.idarquivo != "" %}
        <a class="breadcrumb" href="{{base_url('alunoturma/verarquivo/' ~ tarefa.idtarefa ~ '/' ~ arquivo.idarquivo )}}">{{arquivo.nome|e}}</a>
        {% endif %}
    {% endif %}
{% endif %}

        