{% extends "template/dashboard.html" %}

{% block head %}
<script src="{{base_url()}}assets/aluno.js"></script>
{% endblock %}

{% block title %}

{% include 'alunos/breadcrumb.html' %}

{% endblock %}

{% block menu_lateral %}
{% include 'alunos/menu_aluno.html' %}
{% endblock %}


{% block content %}


{% if msg != "" %}
<script>
$(function(){
    Materialize.toast( "{{msg}}" , 10000);
});
</script>
{% endif %}

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content" id='turmas'>

    </div>
</main>

{% include './alunos/entrarEmTurma.html' %}

{% endblock %}