{% extends "template/dashboard.html" %}

{% block head %}
<script src="{{base_url()}}assets/aluno.js"></script>
{% endblock %}

{% block title %}

{% include 'alunos/breadcrumb.html' %}

{% endblock %}

{% block menu_lateral %}
<a class="waves-effect waves-light mdl-navigation__link modal-trigger" href="#entrarEmTurma">
<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Entrar na turma</a>
{% endblock %}


{% block content %}

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content" id='turmas'>

    </div>
</main>

{% include './alunos/entrarEmTurma.html' %}

{% endblock %}