{% extends "template/dashboard.html" %}

{% block head %}
<script src="{{base_url()}}assets/aluno.js"></script>
{% endblock %}

{% block title %}

{% include 'alunos/breadcrumb.html' %}

{% endblock %}

{% block menu_lateral %}
{% include 'alunos/menu_aluno.html' %}
{% endblock %}

{% block content %}

<input type="hidden" id="idturma" value="{{turma.idturma}}">

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content" id="tarefas">
        
    </div>
</main>

{% include './alunos/entrarEmTurma.html' %}

{% endblock %}