{% extends "template/dashboard.html" %}

{% block head %}
<script src="{{base_url()}}assets/aluno.js"></script>
{% endblock %}

{% block title %}

{{turma.nome|e}}

{% endblock %}

{% block menu_lateral %}

{% endblock %}

{% block content %}

<input type="hidden" id="idturma" value="{{turma.idturma}}">

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content" id="tarefas">
        
    </div>
</main>
{% endblock %}